body {
    margin: 0 !important;
    font-family: 'Roboto', sans-serif;
}

.overlay {
    position: absolute;
    background: black;
    opacity: 0.4;
    height: 100vh;
    width: 100%;
}


.button-overlay-wrapper {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-overlay-wrapper p {
    color: white;
}

.background {
    height: 100vh;
    width: 100% !important;
}

.btn-metamask {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    padding: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.metamask-logo {
    height: 40px;
    margin-right: 10px;
}

.btn-metamask::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}

.btn-metamask:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}

.btn-metamask::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}

.btn-metamask:hover::after {
    opacity: 1;
    transform: scale(1,1);
    cursor: pointer;
}