input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.center-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.right-wrapper {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: end;
}

.form-wrap {
    margin-bottom: 20px;
}

.form-wrap .form-label {
    font-weight: bold;
    color: white;
}

.dashboard {
    background-color: black;
}

input {
    height: 40px;
    border-radius: 8px;
    border-color: #D1D4DB;
    border-width: 1px;
    border-style: solid;
    width: 600px;
    padding-left: 8px;
    padding-right: 8px;
}

.submit-button {
    background-color: white;
    margin-bottom: 40px;
    margin-top: 20px;
    font-weight: bold;
    width: 620px !important;
    height: 40px;
    border-radius: 8px;
    border: 1px solid black;
}

.submit-button:hover {
    cursor: pointer;
}

.guest-wrapper {
    margin-top: 24px;
    min-width: 1300px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
}

ul {
    list-style: none;
    padding: 0 !important;
    height: 200px;
    overflow: auto;
    overflow-x: hidden;
}

.data-box {
    border: 1px solid #D1D4DB;
    padding: 16px 12px;
    border-radius: 8px;
    width: 570px;
    margin-bottom: 12px;
}

.data-label {
    font-weight: bold;
    margin-bottom: 4px;
}

.min-600 {
    min-width: 600px;
}

.generate-button {
    background-color: white;
    margin-bottom: 40px;
    margin-top: 20px;
    font-weight: bold;
    width: 150px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 16px 12px;
}

.generate-button:hover {
    cursor: pointer;
}

.submit-button-mint {
    background-color: white;
    margin-bottom: 40px;
    margin-top: 20px;
    font-weight: bold;
    width: 620px !important;
    height: 40px;
    border-radius: 8px;
    border: 1px solid black;
}

.submit-button-mint:hover {
    cursor: pointer;
}

input[type="file" i] {
    color: white;
}

.success-alert {
    margin-top: 20px;
    padding: 16px;
    background: #dcfce4;
    color: #026913;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid #026913;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 580px;
}